@{
    ViewBag.Title = "Заказы";
    Layout = "layout.cshtml";
}

<h1>Добро пожаловать, @Model.username!</h1>
<h2>@ViewBag.Title</h2>

<div class="dataTable_div col-md-9">
    <table id="requests_table" class="row-border">
        <thead>
            <tr>
                <th>№ заказа</th>
                <th>Покупатель</th>
                <th>Дата покупки</th>
                <th>Сумма</th>
                <th>Оплачен</th>
                <th>Дата оплаты</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model.requests)
            {
                <tr>
                    <td>@request.id</td>
                    <td>@request.buyer.fio</td>
                    <td>@request.date.ToString("dd.MM.yyyy HH:mm:ss")</td>
                    <td>@request.cost</td>
                    <td>@(request.paid ? "Да" : "Нет")</td>
                    @*<td>@request.paid</td>*@
                    <td>@(request.pay_date!=null ? request.pay_date.ToString("dd.MM.yyyy HH:mm:ss") : "-")</td>
                    @*<td>@request.pay_date</td>*@
                    @if (request.paid)
                    {
                        <td></td> }
                    else
                    {
                        <td><a class="btn btn-primary" href="@Url.Content("~/requests/makepay/" + request.id)">Внести оплату</a></td>
                    }
                    <td><a class="btn btn-primary" href="@Url.Content("~/requests/view/" + request.id)">Подробности</a></td>
                </tr>}
        </tbody>
    </table>
</div>
<script language="javascript">
    $("#requests_table").DataTable({
        "language": {
            "url": "@Url.Content("~/content/dataTables.ru.lang.json")"
        },
        paging: false,
        columnDefs:[{orderable:false,targets:[6,7]}]
    });
</script>