@using DbModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Частичная оплата - Продажа товаров в кредит</title>
    <link href="~/content/fonts.css" rel="Stylesheet" />
    <style type="text/css">
        .print {
            width: 50%;
        }

        @@media print {
            .print {
                width: 100%;
            }
        }

        .head {
            text-align: center;
        }

        table {
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
        }

        th, td {
            border-width: 1px;
            border-style: solid;
        }

        tr td:first-child {
            width: 25px;
            text-align: center;
        }

        tfoot tr td:first-child {
            text-align: right;
        }

        .footer {
            margin-left: 8%;
        }

            .footer p {
                margin-top: 40px;
            }

        .col {
            width: 40%;
            float: left;
        }

        .fl_left {
            margin-left: 20px;
        }
    </style>
    <script language="javascript">
        print();
    </script>
</head>
<body>
    <div class="print">
        <div class="head">
            <h3>@Model.pay.request.user.warehouse.postoffice.idx @Model.pay.request.user.warehouse.name @Model.pay.request.user.warehouse.postoffice.post.name</h3>
            <h3>Заказ №@(Model.pay.request.id == 0 ? "" : Model.pay.request.id.ToString()) от @Model.pay.request.date.ToString("dd.MM.yyyy")</h3>
            <h3>ФИО покупателя: @Model.pay.request.buyer.fio</h3>
            <h3>Частичная оплата от @Model.pay.date.ToString("dd.MM.yyyy hh:mm")</h3>
        </div>
        <div class="body">
            <table>
                <tr>
                    <th>&nbsp;</th>
                    <th>Наменование</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                    <th>Штрих-код</th>
                </tr>
                <tbody>

                    @{  int positionNumber = 1;
                        foreach (payment payment in Model.pay.payments)
                        {
                            <tr>
                                <td>
                                    @(positionNumber++)
                                </td>
                                <td>
                                    @payment.request_rows.name
                                </td>
                                <td>
                                    @payment.amount
                                </td>
                                <td>
                                    @(((double)payment.request_rows.price).ToString("F2"))
                                </td>
                                <td>
                                    @(((double)(payment.request_rows.price * payment.amount)).ToString("F2"))
                                </td>

                                @if (payment.request_rows.barcode == "")
                                {
                                    <td>-</td>}
                                else
                                {
                                    <td style="font-size: 16pt; font-family: IDAutomationHC39M">(@payment.request_rows.barcode.Replace(" ", "").Replace("\n", "").Replace("\r", ""))</td>
                                }
                            </tr>}
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"><b>Итого:</b></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><b>@Model.pay.cost</b></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>
</html>
