@{
    ViewBag.Title = "Данные заказа";
    Layout = "layout.cshtml";
}


<form class="form-horizontal col-sm-8">
    <h3>Заказ № @Model.request.id от @Model.request.date.ToString("dd.MM.yyyy HH:mm")</h3>
    <h3>@Model.request.user.warehouse.postoffice.idx @Model.request.user.warehouse.name @Model.request.user.warehouse.postoffice.post.name</h3>
    @if (Model.partial_paid)
    {
        <div class="form-group">
            <label class="col-sm-9">По данному заказу есть частичные погашения на сумму @Model.paid_cost.</label>
            <a class="btn btn-sm btn-primary" href="@Url.Content("~/requests/partials/"+Model.request.id)">Список погашений</a>
        </div>
    }
    <div class="form-group">
        <div class="col-sm-4 ">
            <a class="btn btn-primary form-control" onclick='javascript:window.open("@Url.Content("~/requests/print/"+@Model.request.id)");'>Вывод печатной формы</a>
        </div>
        @if (!Model.request.paid)
        {
            <div class="col-sm-3 ">
                <a class="btn btn-primary form-control" href="@Url.Content("~/requests/makepay/" + @Model.request.id)">Внести оплату</a>
            </div>
            <div class="col-sm-4 ">
                <a class="btn btn-primary form-control" href="@Url.Content("~/requests/makepay_partial/" + @Model.request.id)">Частичное погашение</a>
            </div>
        }
        
            <div class="col-sm-1">
                <a class="btn btn-default" onclick="javascript: history.go(-1);">Назад</a>
            </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="fio">ФИО покупателя:</label>
        <div class="col-sm-6">
            <label class="form-control" id="fio">@Model.request.buyer.fio</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="cost">Сумма:</label>
        <div class="col-sm-6">
            <label class="form-control" id="cost">@Model.request.cost</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="paid">Оплачен:</label>
        <div class="col-sm-6">
            <label class="form-control" id="paid">@(Model.request.paid ? "Да" : "Нет")</label>
        </div>
    </div>
    @if (Model.request.paid)
    {
        <div class="form-group">
            <label class="control-label col-sm-3" for="pay_date">Дата оплаты:</label>
            <div class="col-sm-6">
                <label class="form-control" id="pay_date">@Model.request.pay_date.ToString("dd.MM.yyyy HH:mm:ss")</label>
            </div>
        </div>
    }
    <div class="form-group">
        <h3 class="col-sm-offset-1">Состав заказа</h3>
        <div class="dataTable_div">
            <table id="current_request_table" class="row-border">
                <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Стоимость</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rr in Model.request.request_rows)
                    {
                        <tr>
                            <td>@rr.name</td>
                            <td>@rr.price</td>
                            <td>@rr.amount @rr.ed_izm</td>
                            <td>@(Math.Round(rr.price * rr.amount, 2,MidpointRounding.AwayFromZero))</td>
                        </tr>}
                </tbody>
            </table>
        </div>
    </div>
</form>


<script>
    $("#current_request_table").DataTable({
        "language": {
            "url": "@Url.Content("~/content/dataTables.ru.lang.json")"
        },
        paging: false,
        filter: false
    });
</script>