@using DbModel
@{
    ViewBag.Title = "Частичная оплата заказа";
    Layout = "layout.cshtml";
}

<style type="text/css">
    .dataTable_div {
        width: 65% !important;
    }
</style>
<h2>@ViewBag.Title</h2>
<div class="row">
    <form id="create-form" action="@Url.Content("~/requests/makepay_partial/"+Model.request.id)" method="post" class="form-horizontal col-md-8">
        @Html.AntiForgeryToken()
        <h3>Заказ № @Model.request.id от @Model.request.date.ToString("dd.MM.yyyy HH:mm")</h3>
        <h3>@Model.request.user.warehouse.postoffice.idx @Model.request.user.warehouse.name @Model.request.user.warehouse.postoffice.post.name</h3>
        <div class="form-group">
            <h3>Введите дату</h3>
            <div class='input-group date col-md-6' id='datetimepicker2'>
                <input type='text' class="form-control" name="datecreated" id="datecreated" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <script type="text/javascript">
            var mutex = false;

        </script>
        <div>
            <h3>К оплате</h3>
            @Html.AntiForgeryToken()
            <div class="dataTable_div">
                <table id="current_request_table" class="row-border">
                    <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Сумма</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="current_request_body"></tbody>
                    <tfoot>
                        <tr>
                            <th>Итого:</th>
                            <th></th>
                            <th id="result_amount"></th>
                            <th id="result_cost">0</th>
                            <th></th>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
        <input hidden id="request_info" name="request_info" />
        <a id="submit" href='#' class="btn btn-primary">Создать</a>
    </form>
</div>
<div class="dataTable_div row">
    <h3>Выбор товара</h3>
    <table id="leftovers_table" class="row-border">
        <thead>
            <tr>
                <th>Товар</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Единица</th>
                <th>Сумма</th>
                <th>Оплачено</th>
                <th>Возврат</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request_row in Model.request.request_rows)
            {
                <tr id="tr_@request_row.id">
                    <td id="name">@request_row.name</td>
                    <td id="price">@request_row.price</td>
                    <td id="amount">@request_row.amount</td>
                    <td id="edizm">@request_row.ed_izm</td>
                    <td id="cost">@Math.Round(request_row.amount * request_row.price, 2, MidpointRounding.AwayFromZero)</td>
                    <td id="paid">@request_row.paid_amount</td>
                    <td id="return">@request_row.return_amount</td>
                    <td><a id="payment_@request_row.id" class="add_good btn btn-sm btn-primary" title="Добавить к оплате">+</a><span style="display: none" id="paymentadd_@request_row.id"><input id="paymentamount_@request_row.id" type=" text" /><a class="btn btn-sm btn-primary" id="paymentconfirm_@request_row.id">Подтвердить</a></span></td>
                </tr>}
        </tbody>
    </table>
</div>

<script language="javascript">
    $(document).ready(function () {
        accounting.settings.currency.format = "%v";
        accounting.settings.currency.symbol = "₽";
        accounting.settings.currency.decimal = ",";
        accounting.settings.currency.thousand = " ";
        var payments_to_post = {};
        var $result_cost = 0;
        $("#leftovers_table").DataTable({
            "language": {
                "url": "@Url.Content("~/content/dataTables.ru.lang.json")"
            },
            paging: false,
            "drawCallback": function (settings) {

            }
        });

        $("#current_request_table").DataTable({
            "language": {
                "url": "@Url.Content("~/content/dataTables.ru.lang.json")"
            },
            paging: false,
            filter: false
        });

        $('a[id*="payment_"]').click(function () {
            var $span = $(this).next();
            $span.show(true);
        });

        $('a[id*="paymentconfirm_"]').click(function () {
            var $inp = $(this).prev();
            var $amount = $inp.val();
            var $request_row_id = this.id.split('_')[1];
            var $tr = $("tr[id='tr_" + $request_row_id + "']");
            var $name = $tr.children("[id='name']").text();
            var $price = $tr.children("[id='price']").text();
            var $leftover = $tr.children("[id='amount']").text();
            var $paid = $tr.children("[id='paid']").text();
            var $return= $tr.children("[id='return']").text();
            $amount = parseFloat($amount.replace(',', '.'));
            $price = parseFloat($price.replace(',', '.'));
            $leftover = parseFloat($leftover.replace(',', '.'));
            $paid = parseFloat($paid.replace(',', '.'));
            $return = parseFloat($return.replace(',', '.'));
            //validation
            if (isNaN($amount) || $amount < 0) {
                alert("Введите корректное значение в поле количество");
                return;
            }
            if ($amount == 0) {
                alert("Введите ненулевое значение в поле количество");
                return;
            }
            var $current_amount = 0;
            if (payments_to_post[$request_row_id] != undefined) {
                $current_amount += payments_to_post[$request_row_id]["amount"];
            }
            if ($amount > $leftover - $paid - $return - $current_amount) {
                alert("Введенное количество превышает доступное для оплаты");
                return;
            }
            if ($current_amount == 0) {
                var payment = {};
                payment["id"] = $request_row_id;
                payment["name"] = $name;
                payment["price"] = $price;
                payment["amount"] = $amount;
                var $cost = accounting.unformat(accounting.toFixed($price * $amount, 2));
                $result_cost += $cost;
                var column = $("#current_request_table").DataTable().column(3);
                $(column.footer()).html(accounting.formatMoney($result_cost));
                payment["cost"] = $cost;
                payments_to_post[$request_row_id] = payment;
                $("#request_info").val(JSON.stringify(payments_to_post));
                //$("#current_request_body:last-child").append("<tr><td>" + $name + "</td><td>" + $price + "</td><td>" + $amount + "</td><td>" + $cost + "</td></tr>");
                var $delbutton = '<a class="delbutton btn" id="delbutton_' + $request_row_id+ '"><img src="@Url.Content("~/Content/img/button_delete.gif")"/></a>';
                var $node = $("#current_request_table").DataTable().row
                    .add([
                        $name, $price.toFixed(2).replace('.', ','), $amount.toFixed(3).replace('.', ','), $cost.toFixed(2).replace('.', ','), $delbutton])
                    .draw(false).node();
                $node.id = "curr" + payment["id"];

            } else {
                payments_to_post[$request_row_id]["amount"] += $amount;
                var $oldcost = payments_to_post[$request_row_id]["cost"];
                var $cost = accounting.unformat(accounting.toFixed($price * payments_to_post[$request_row_id]["amount"],2));
                $result_cost += $cost-$oldcost;
                var column = $("#current_request_table").DataTable().column(3);
                $(column.footer()).html(accounting.formatMoney($result_cost));
                payments_to_post[$request_row_id]["cost"] = $cost;
                $("#request_info").val(JSON.stringify(payments_to_post));
                var $new_amount = payments_to_post[$request_row_id]["amount"].toFixed(3).replace('.', ',');
                var $new_cost = payments_to_post[$request_row_id]["cost"].toFixed(2).replace('.', ',');
                $("#current_request_table").DataTable().cell("[id='curr" + $request_row_id + "']", 2).data($new_amount);
                $("#current_request_table").DataTable().cell("[id='curr" + $request_row_id + "']", 3).data($new_cost);

            }
        });
        $('#current_request_table').on('click', 'a.delbutton',
            function(parameters) {
                if (confirm("Удалить строку заказа?") === false)
                    return;
                var $request_row_id = this.id.split('_')[1];
                $("#current_request_table").DataTable().row("[id='curr" + $request_row_id + "']").remove().draw(false);
                var $cost = payments_to_post[$request_row_id]["cost"];
                $result_cost -= $cost;
                var column = $("#current_request_table").DataTable().column(3);
                $(column.footer()).html(accounting.formatMoney($result_cost));
                delete payments_to_post[$request_row_id];
                $("#request_info").val(JSON.stringify(payments_to_post));
            });
        $('#datetimepicker2').datetimepicker({
            locale: 'ru',
            defaultDate: moment(),
            allowInputToggle: true
        });
        $("#submit").click(function() {
            if (Object.keys(payments_to_post).length > 0) {
                if (!mutex) {
                    mutex = true;
                    //$("#create-form").submit();
                    $.post({
                        url: "@Url.Content("~/requests/makepay_partial/"+Model.request.id)",
                        data: {
                            datecreated: $("#datecreated").val(),
                            request_info: $("#request_info").val()
                        },
                        //success: function () {
                        //    alert("Nice work!")
                        //},
                        //error: function () {
                        //    alert("Fucked up!");
                        //}
                    }).done(function (data) {
                        window.open("@Url.Content("~/requests/print_partial/")"+data);
                        window.location = "@Url.Content("~/")";
                    });
                }
            }
            else {
                alert("Невозможно создать пустую оплату");
                return;
            }
        });
    });
</script>